@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Hammersmith+One&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&family=Playfair+Display:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252525;
}

.title {
    height: 500px;
    width: 90%;
    align-self: center;
    text-align: center;
}

.title h1 {
    font-size: 42px;
    color: #fafafa;
    font-weight: 300;
    height: auto;
    width: auto;
}

header {
    height: 150px;
    width: 100%;
    margin: 0;
    background-color: #00141b;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

.header-logo {
    height: 100%;
    font-size: 1.2em;
    color: #fff;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    color: #fff;
    font-family: 'Hammersmith One', sans-serif;
}

.nav-link,
.nav-link a {
    color: #fff;
}

.nav-link:hover {
    color: #a8cf45;
}


.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}



/* -------------
FLEX LAYOUTS
---------------- */
.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.content-center {
    justify-content: center;
}

.content-start {
    justify-content: flex-start;
}

.content-end {
    justify-content: flex-end;
}

.content-between {
    justify-content: space-between;
}

.content-even {
    justify-content: space-evenly;
}

.content-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.center-self {
    align-self: center;
}

/*------- 
MARGIN, WIDTH
-----------------------*/
.h-100 {
    height: 100%;
}

.h-500 {
    height: 500px;
}

/** Margin */
.m-1 {
    margin: 1%;
}

.mb-1 {
    margin-bottom: 1%;
}

.mbt-2 {
    margin: 2% 0;
}

.mt-1 {
    margin-top: 1%;
}

.mbt-1 {
    margin: 1% 0%;
}

.mrl-1 {
    margin: 0% 1%;
}

.m-2 {
    margin: 2%;
}

.ml-1 {
    margin-left: 1%;
}

.mt-2 {
    margin-top: 2%;
}

.mbt-2 {
    margin: 2% 0%;
}

.mrl-2 {
    margin: 0% 2%;
}

.m-3 {
    margin: 3%;
}

.mbt-5 {
    margin: 5% 0%;
}

.mt-10 {
    margin-top: 10%;
}

/** Width */
.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-98 {
    width: 98%;
}

.w-100 {
    width: 100%;
}


.card-caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    align-items: center;
    background-color: #25252587;
    color: #fff;
    margin: 1%;
}

.card-caption p {
    font-size: 2em;
    font-family: 'Hammersmith One', sans-serif;

}

.bg-style-1 {
    background-color: #d7d7d7;
}

.text-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 1% 0;

}

.text-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1% 0;
}

.bg-style-2 {
    height: 98%;
    background-color: #8e8e8e7f;
    backdrop-filter: blur(2px);
}

.bg-style-3 {
    background-color: #d7d7d7;
}

.card-button-1 {
    width: 50%;
    height: 3em;
    font-size: 0.8em;
    margin: 1% 0;
    border: none;
    background-color: #6b7aed;
    color: #fff;
    font-size: 1em;
}

.card-text {
    margin: 1%;
}

.card-text p {
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.75;
    font-family: 'Nunito', sans-serif;
}

.cart-indicator {
    width: auto;
    flex-basis: 10%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cart-icon {
    position: absolute;
}

.cart-quantity {
    height: 20px;
    width: 30px;
    right: 15px;
    background: rgb(57, 126, 91);
    text-align: center;
    color: #fff;
    position: absolute;
    border-radius: 50px;

}

.wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1%;
    height: 500px;
}

.wrapper-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: auto;
    margin-bottom: 10%;
    width: 80%;
}

.wrapper-inner h1 {
    font-size: 2em;
    margin: 1%;
    font-size: 2.5em;
    color: #00141b;
    font-family: 'Hammersmith One', sans-serif;
}

.wrapper-inner p {
    font-weight: 300;
    width: 75%;
    margin: 1%;
    line-height: 1.8;
    font-size: 1.5em;
    color: #00141b;
    font-family: 'Nunito', sans-serif;
}

.wrapper-button {
    width: 50%;
    height: 3em;
    font-size: 0.8em;
    margin: 1% 0;
    border: none;
    background-color: #6b7aed;
    color: #fff;
    font-size: 1em;
}


.wrapper-inner-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 10%;
    width: 100%;
}

.wrapper-inner-about h1 {
    margin: 1%;
    font-size: 2.5em;
    color: #252525;
}

.bg-style-4 {
    background-color: #25252560;
    background-blend-mode: darken;
    height: auto;
}

.container-style-1 {
    height: 400px;
    border: 1px solid green;
}

.contact-form {
    height: 500px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #000;
    margin: 1% 0;
}

.form-title {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title h2 {
    font-size: 3em;
    font-weight: 300;

}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    height: 80%;
    width: 90%;
}

.form-inputs input,
textarea {
    width: 90%;
    height: 3em;
    font-size: 1em;
    font-weight: 400;
}

.form-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.form-button button {
    width: 50%;
    height: 3em;
    font-size: 0.8em;
    margin: 1% 0;
    border: none;
    background-color: #429b6b;
    color: #fff;
    font-size: 1em;
}